.dev-container {
    width: 1024px;
    margin: 50px auto;
    /*background: #cfcfcf;*/
    padding: 20px;

}
.dev-navigation{
    width: 997px;
    margin: 0 auto auto;
}
.dev-separator {
    margin: 50px 0;
}

.dev-left {
    float: left;
}
.dev-right {
    float: right;
}

.dev-half {
    width: 50%;
}