/* BLOCK: bigshadowblock */

.bigshadowblock {
    background: white;
    box-shadow: 0px 2px 10px 1px rgba(3, 3, 3, .2);
    position: relative;
    margin-top: 20px;
    transition: box-shadow .2s linear;
}

.bigshadowblock:hover {
    box-shadow: 0px 2px 15px 1px rgba(3, 3, 3, .3);
}

.bigshadowblock:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background: #DEDEDE;
    top: 0;
    left: 79%;
}

.bigshadowblock-left {
    float: left;
    width: 79%;
    padding: 40px;
    box-sizing: border-box;
}

.bigshadowblock-right {
    float: right;
    width: 21%;
}

.bigshadowblock-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.bigshadowblock-text {
    margin-bottom: 20px;
}

.btn {
    border-radius: 0px;
}

.bigshadowblock-btn {
}

.risklevel-param {
    font-weight: bold;
}

.risklevel-param-low {
    color: #81C55C;
}

.risklevel-param-high {
    color: #F31C24;
}

.risklevel-param-middle {
    color: #FF8F1F;
}

.risklevel {
    padding: 100px 0px 0px 0px;
}

.risklevel-text {
    text-align: center;
}

/* .risklevel-img */
.risklevel-img {
    margin: auto;
    display: block;
    width: 103px;
    height: 94px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.risklevel-img-high {
    background-image: url(../images/high_new.png);
}

.risklevel-img-middle {
    background-image: url(../images/midlle_new.png);
    height: 73px;
}

.risklevel-img-low {
    background-image: url(../images/low_new.png);
}

/* .risklevel-img */

/*Btn Style*/
.btnswitch-list {
    display: -webkit-inline-box;
}

.contentnav-list {
    display: -webkit-inline-box;

}

.contentnav-text {
    color: #989898;
}

.btnswitch-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 8px;
    width: 16px;
    height: 12px;
}

.btnswitch-icon-horizontal {
    background-image: url(../images/sp_green.png);
}

.btnswitch-btn-current .btnswitch-icon-horizontal {
    background-image: url(../images/sp.png);
}

.btnswitch-icon-vertical {
    background-image: url(../images/sp2.png);
}

.btnswitch-btn-current .btnswitch-icon-vertical {
    background-image: url(../images/sp2_white.png);
}

.btnswitch-btn {
    background: white;
    border: solid #D7D7D7 1px;
    color: #989898;
}

.btnswitch-btn:hover {
    background: #dfdfdf;

}

.btnswitch-btn-current {
    background: #7CBE4B;
    border: solid #5BB24F 1px;
    color: white;
}

.btnswitch-btn-current:hover {
    background: #7CBE4B;

}

.contentnav-btn {
    background: white;
    transition: background-color .2s ease;
    border: solid #D7D7D7 1px;
}

.contentnav-btn:hover {
    background: #dfdfdf;
}

/*Btn Style*/

.icon {
    margin-left: 0px;
    margin-right: 0px;
    color: #9FD27C;
}

.contentnav-item {
    padding: 5px;
    border-radius: 0px;
}

.icon-arrow-left {
    margin-right: 8px;
}

/* END BLOCK: bigshadowblock */

/* BLOCK: conclusionsblock */
.conclusionsblock-title {
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.conclusionsblock {
    box-sizing: border-box;
    background-color: #F2F2F2;
    padding: 25px;
}

.conclusionsblock-text {
    color: #A1A1A1;
    padding-right: 95px;
    font-size: 14px;
}

/* END BLOCK: conclusionsblock */



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.btn-youcontrol {
    border-radius: 0;
    box-shadow: none;
    transition: background .08s linear;
}