.left {
    float: left;
}
.right {
    float: right;
}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('./fonts/bebasneue/bebasneue_bold-webfont.eot');
    src: url('./fonts/bebasneue/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/bebasneue/bebasneue_bold-webfont.woff2') format('woff2'),
    url('./fonts/bebasneue/bebasneue_bold-webfont.woff') format('woff'),
    url('./fonts/bebasneue/bebasneue_bold-webfont.ttf') format('truetype'),
    url('./fonts/bebasneue/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* BLOCK: bigshadowblock */

.bigshadowblock {
    background: white;
    box-shadow: 0 2px 10px 1px rgba(3, 3, 3, .2);
    position: relative;
    margin-top: 20px;
    transition: box-shadow .2s linear;
}

.bigshadowblock:hover {
    box-shadow: 0 2px 15px 1px rgba(3, 3, 3, .3);
}

.bigshadowblock:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background: #DEDEDE;
    top: 0;
    left: 79%;
}

.bigshadowblock-left {
    float: left;
    width: 79%;
    padding: 40px;
    box-sizing: border-box;
}

.bigshadowblock-right {
    float: right;
    width: 21%;
}

.bigshadowblock-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.bigshadowblock-text {
    margin-bottom: 20px;
}

.btn {
    border-radius: 0px;
}

.bigshadowblock-btn {
}

.risklevel-param {
    font-weight: bold;
}

.risklevel-param-low {
    color: #81C55C;
}

.risklevel-param-high {
    color: #F31C24;
}

.risklevel-param-middle {
    color: #FF8F1F;
}

.risklevel {
    padding: 100px 0 0 0;
}

.risklevel-text {
    text-align: center;
}
.contentnav-uptitle{
    font-weight: bold;
    vertical-align: bottom;
    padding-top: 22px;
}
.contentnav-righttext{
    font-weight: normal;
    padding-left: 20px;
}
/* .risklevel-img */
.risklevel-img {
    margin: auto;
    display: block;
    width: 103px;
    height: 94px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.risklevel-img-high {
    background-image: url(../images/high_new.png);
}

.risklevel-img-middle {
    background-image: url(../images/midlle_new.png);
    height: 73px;
}

.risklevel-img-low {
    background-image: url(../images/low_new.png);
}

/* .risklevel-img */

/*Btn Style*/
.btnswitch-list {

}
.contentnav-layout{
    margin-bottom: 15px;
}
.contentnav-btnlist{
    margin: 30px 0px;
}
.contentnav-list {

}

.contentnav-text {
    color: #989898;
}

.btnswitch-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 8px;
    width: 16px;
    height: 12px;
}
.btnswitch-item{
    display: inline-block;
}
.btnswitch-icon-horizontal {
    background-image: url(../images/sp_green.png);
}

.btnswitch-btn-current .btnswitch-icon-horizontal {
    background-image: url(../images/sp.png);
}

.btnswitch-icon-vertical {
    background-image: url(../images/sp2.png);
}

.btnswitch-btn-current .btnswitch-icon-vertical {
    background-image: url(../images/sp2_white.png);
}

.btnswitch-btn {
    background: white;
    border: solid #D7D7D7 1px;
    color: #989898;
}

.btnswitch-btn:hover {
    background: #dfdfdf;

}

.btnswitch-btn-current {
    background: #7CBE4B;
    border: solid #5BB24F 1px;
    color: white;
}

.btnswitch-btn-current:hover {
    background: #7CBE4B;

}

.contentnav-btn {
    background: white;
    transition: background-color .2s ease;
    border: solid #D7D7D7 1px;
}

.contentnav-btn:hover {
    background: #dfdfdf;
}

/*Btn Style*/

.icon {
    margin-left: 0px;
    margin-right: 0px;
    color: #9FD27C;
}

.contentnavinf-item {
    padding: 0 0 0 5px;
    border-radius: 0px;
    display: inline-block;
}

.icon-ago {
    background-image: url(../images/st_nazad.png);
    width: 15px;
    height: 13px;
    margin-right: 8px;
}
.icon-envelopeimg{
    background-image: url(../images/mail.png);
    width: 18px;
    height: 12px;
}
.icon-download-altimg{
    background-image: url(../images/download.png);
    width: 17px;
    height: 17px;

}
.icon-printimg{
    background-image: url(../images/printer.png);
    width: 17px;
    height: 20px;
}
/* END BLOCK: bigshadowblock */







/* BLOCK: conclusionsblock */
.conclusionsblock-title {
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.conclusionsblock {
    box-sizing: border-box;
    background-color: #F2F2F2;
    padding: 25px;

}

.conclusionsblock-text {
    color: #A1A1A1;
    padding-right: 95px;
    font-size: 14px;
}
/* END BLOCK: conclusionsblock */




/*  BLOCK: optionsanalysis-block */
.optionsanalysis-block{
    box-sizing: border-box;
    padding: 5px;
}
.optionsanalysis-left{
    float: left;
    width: 30%;
}
.optionsanalysis-right{
    float: right;
    width: 70%;
}
.optionsanalysis-title{
    font-weight: bold;
    font-size: 14px;
}

.optionsanalysis-icon {
    background-image: url(../images/galo4ka.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 center;
}
.ticklist-item{
    padding: 2px 0px 0px 25px;
    width: auto;
    margin-top: 12px;



    background-image: url(../images/galo4ka.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 center;
}
.optionsanalysis-text{
    color: #989898;
    padding: 0 0 18px 0;
}

/*  END BLOCK: optionsanalysis-block */


/*  BLOCK:secondarymenu-block*/

.secondarymenu{
    margin-top: 19px;
    box-sizing: border-box;
}
.secondarymenu-list{

}
.secondarymenu-item{
    background-color: #F2F2F2;
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    text-align: center;

}
.secondarymenu-link {
    display: block;
    padding: 20px 0 15px 0;
    width: 118px;
    text-decoration: none;
    color: #989898;
}
.secondarymenu-link:visited {
    color: #989898;
}
.secondarymenu-link:hover {
    text-decoration: none;
}
.secondarymenu-item-active {
    background-color: white;
}

.secondarymenu-item:hover{
    background-color: white;

}
.secondarymenu-label-green{
     background-color: #75C04D;
    padding: 1px 6px;
    color: white;
    font-size: 12px;
    float: right;
    margin-right: 15px  ;
}
.secondarymenu-label-gray{
    background-color: #939393;
    padding: 1px 6px;
    color: white;
    font-size: 12px;
    float: right;
    margin-right: 15px;
}

/*  END BLOCK:secondarymenu-block*/




/*Btninf Style*/
.btninf-item{
    display: inline-block;

}
.btninf-list {

}
.btninf-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 18px;
    position: relative;
    top: 3px;
}
.btninf-btn{
    background: #F2F2F2;
    border: solid #D7D7D7 1px;
    color: #939393;
}
.btninf-btn:hover{
    background: #dfdfdf;
}

.btninf-btn-current{
    background: #7CBE4B;
    border: solid #5BB24F 1px;
    color: white;
}
.btninf-text {

    padding: 7px 20px;
}
.btninf-icon-social{
    background-image: url(../images/social_icon_white.png);
}
.btninf-icon-refresh{
    background-image: url(../images/refresh-icon.png);
}

.btninf-item-right{
    padding: 0 0 0 5px;
}
.btninf-icon-plus{
    background-image: url(../images/plus_icon.png);

}
.btninf-textbold{
    font-weight: bold;
    color: #616163;
}

.btninf-item-text{
    padding: 7px 20px;
    color: #939393;
}

/*Btninf Style*/
.btn-empty{
    background: #F2F2F2;
    transition: background-color .2s ease;
    border: solid #D7D7D7 1px;
    padding: 4px 0px 4px 8px;
}
.btn-empty:hover {
    background: #dfdfdf;
}



.navigationinf {
    padding-top: 35px;
    margin-bottom: 19px;
}
.navigationinf-header {
    margin-bottom: 30px;
    white-space: nowrap;
}
.navigationinf-btn {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 20px;
}
.navigationinf-title{
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    /*margin-top: -38px;*/
    line-height: 24px;
    margin: 0;
    padding: 0;
    /*width: 974px;*/
    white-space: normal;
    vertical-align: text-top;
}
/*END Btninf Style*/









/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.btn-youcontrol {
    border-radius: 0;
    box-shadow: none;
    transition: background .08s linear;
}


.grayheader {
    background-color: #f2f2f2;
    margin-bottom: 35px;
}