.youchart {
    width: 485px;
    padding: 14px;
}
.youchart-big {
    width: 100%;
}
.textblock-text{
    color: #989898;
}
.textblock-title{
    font-weight: bold;
    font-size: 14px;
    padding-top: 28px;
    color: black;
    margin: 14px 0;
}

.youchart-title {
    background-color: #cfcfcf;
    color: white;
    height: 126px;
    line-height: 115px;
    padding: 0 30px;
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
    background-image: url(../images/downarrow.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.youchart-title-noarrow {
    background-image: none;
}



/* for 11 */
.youchart-title-lvl_0 {
    background-color: #7bc043;
    background-position: -1027px bottom;
    /*-975px*/
}

.youchart-title-lvl_1 {
    background-color: #92cb37;
    background-position: -983px bottom;
}

.youchart-title-lvl_2 {
    background-color: #afdb27;
    background-position: -940px bottom;
}

/*.youchart-title-lvl_2:after {*/
/*left: */
/*}*/
.youchart-title-lvl_3 {
    background-color: #d5ec13;
    background-position: -896px bottom;
}

/*-839px*/

.youchart-title-lvl_4 {
    background-color: #edf108;
    background-position: -851px bottom;
}

/* -794px */

.youchart-title-lvl_5 {
    /*-747px*/
    background-color: #fff100;
    background-position: -808px bottom;
}

.youchart-title-lvl_6 {
    background-color: #ffdd01;
    background-position: -763px bottom;
}

/*-702px*/
.youchart-title-lvl_7 {
    background-color: #ffbd09;
    background-position: -720px bottom;
}

/*-656px*/
.youchart-title-lvl_8 {
    background-color: #fc9813;
    background-position: -676px bottom;
}

/*-612px*/
.youchart-title-lvl_9 {
    background-color: #f16422;
    background-position: -631px bottom;
}

/* -565px*/
.youchart-title-lvl_10 {
    background-color: #e24d07;
    background-position: -588px bottom;
}
/* -519px*/

/* for 11 */

/* for 11  gradient*/
/*.youchart-line-step_lvl_0{*/
    /*margin-left: -19px;*/
/*}*/
/*.youchart-line-step_lvl_100{*/
    /*margin-right: -22px;*/
/*}*/
.youchart-title-lvl_0 {
    background-color: #7bc043;
    background-position: -991px bottom;
    /*-975px*/
}

.youchart-title-lvl_10 {
    background-color: #92cb37;
    background-position: -946px bottom;
}

.youchart-title-lvl_20 {
    background-color: #afdb27;
    background-position: -900px bottom;
}

/*.youchart-title-lvl_2:after {*/
/*left: */
/*}*/
.youchart-title-lvl_30 {
    background-color: #d5ec13;
    background-position: -853px bottom;
}

/*-839px*/

.youchart-title-lvl_40 {
    background-color: #edf108;
    background-position: -805px bottom;
}

/* -794px */

.youchart-title-lvl_50 {
    /*-747px*/
    background-color: #fff100;
    background-position: -759px bottom;
}

.youchart-title-lvl_60 {
    background-color: #ffdd01;
    background-position: -711px bottom;
}

/*-702px*/
.youchart-title-lvl_70 {
    background-color: #ffbd09;
    background-position: -665px bottom;
}

/*-656px*/
.youchart-title-lvl_80 {
    background-color: #fc9813;
    background-position: -618px bottom;
}

/*-612px*/
.youchart-title-lvl_90 {
    background-color: #f16422;
    background-position: -571px bottom;
}

/* -565px*/
.youchart-title-lvl_100 {
    background-color: #e24d07;
    background-position: -521px bottom;
}

/* -519px*/

/* for 11 gradient */

.youchart-name {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    line-height: 120px;
}

.youchart-count {
    font-family: bebas_neuebold, Impact, Arial, sans-serif;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    line-height: 116px;
}




.youchart-line {

}
.youchart-line-grad {
    background-image: url(../images/gradient_line.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: auto;
    min-height: 10px;

    /*float: left;*/
    /*width: 47px;*/
    /*height: 20px;*/
    /*box-sizing: border-box;*/
    /*padding-top: 2px;*/
    /*font-size: 11px;*/
    /*line-height: 56px;*/
    /*transition: opacity .1s ease;*/
    /*text-align: center;*/
}



.youchart-steps {
    overflow: hidden;
    /*word-spacing: -4px;*/
    /*letter-spacing: -4px;*/
    /*background: #e24d07;*/
}
.youchart-steps-grad {
    padding-top: 14px;
}


.youchart-step {
    float: left;
    text-align: center;
    width: 44px;
    height: 20px;
    box-sizing: border-box;
    color: white;
    /*padding-top: 2px;*/
    font-size: 11px;
    line-height: 20px;
    transition: opacity .1s ease;
}
.youchart-step-grad {
    color: #7f7f7f;
    font-size: 11px;
    width: 47px;
    background-color: transparent !important;
}
.youchart-step-percent_0 {
    margin-left: -18px;
}
.youchart-step-percent_100 {
    margin-right: -20px;
}

/*.youchart-step-grad {*/
    /*float: left;*/
    /*color: #989898;*/
    /*width: 47px;*/
    /*height: 20px;*/
    /*box-sizing: border-box;*/
    /*line-height: 56px;*/
    /*transition: opacity .1s ease;*/
    /*text-align: center;*/
/*}*/

.youchart-step:hover {
    opacity: .8;
    /*cursor: pointer;*/
}



/* for 11 */
.youchart-step-lvl_0 {
    background-color: #7bc043;
}

.youchart-step-lvl_1 {
    background-color: #92cb37;
}

.youchart-step-lvl_2 {
    background-color: #afdb27;
}

.youchart-step-lvl_3 {
    background-color: #d5ec13;
}

.youchart-step-lvl_4 {
    background-color: #edf108;
}

.youchart-step-lvl_5 {
    background-color: #fff100;
}

.youchart-step-lvl_6 {
    background-color: #ffdd01;
}

.youchart-step-lvl_7 {
    background-color: #ffbd09;
}

.youchart-step-lvl_8 {
    background-color: #fc9813;
}

.youchart-step-lvl_9 {
    background-color: #f16422;
}

.youchart-step-lvl_10 {
    background-color: #e24d07;
}

/* for */


.youchart-bigline {
    display: block;
    width: 100%;
    height: 58px;
    background-repeat: repeat-x;
    background-image: url(../images/horizontal-counted-big.png);
    background-size: contain;
    /*background-color: #ff0000;*/
}