.youchart {
    width: 485px;
    padding: 14px 14px 30px 14px;
}

.youchart-big {
    width: 100%;
    padding: 10px 0px 20px 0px;
}

.textblock-text {
    color: #989898;
}

.textblock-title {
    font-weight: bold;
    font-size: 14px;
    padding-top: 8px;
    color: black;
    margin: 10px 0;
}
.textblock-text-notitle{
    padding: 15px 0px 0px 0px;
}
.youchart-title {
    background-color: #cfcfcf;
    color: white;
    height: 126px;
    line-height: 115px;
    padding: 0 30px;
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
    background-image: url(../images/downarrow.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: background-color, color .3s ease;
}

.youchart-title-noarrow {
    background-image: none;
}

/* for 11 */
.youchart-title-lvl_0 {
    background-color: #7bc043;
    background-position: -1027px bottom;
    /*-975px*/
}

.youchart-title-lvl_1 {
    background-color: #92cb37;
    background-position: -983px bottom;
}

.youchart-title-lvl_2 {
    background-color: #afdb27;
    background-position: -940px bottom;
}

/*.youchart-title-lvl_2:after {*/
/*left: */
/*}*/
.youchart-title-lvl_3 {
    background-color: #d5ec13;
    background-position: -896px bottom;
}

/*-839px*/

.youchart-title-lvl_4 {
    background-color: #edf108;
    background-position: -851px bottom;
}

/* -794px */

.youchart-title-lvl_5 {
    /*-747px*/
    background-color: #fff100;
    background-position: -808px bottom;
}

.youchart-title-lvl_6 {
    background-color: #ffdd01;
    background-position: -763px bottom;
}

/*-702px*/
.youchart-title-lvl_7 {
    background-color: #ffbd09;
    background-position: -720px bottom;
}

/*-656px*/
.youchart-title-lvl_8 {
    background-color: #fc9813;
    background-position: -676px bottom;
}

/*-612px*/
.youchart-title-lvl_9 {
    background-color: #f16422;
    background-position: -631px bottom;
}

/* -565px*/
.youchart-title-lvl_10 {
    background-color: #e24d07;
    background-position: -588px bottom;
}

/* -519px*/

/* for 11 */

/* for 11  gradient*/
/*.youchart-line-step_lvl_0{*/
/*margin-left: -19px;*/
/*}*/
/*.youchart-line-step_lvl_100{*/
/*margin-right: -22px;*/
/*}*/
.youchart-title-lvl_0 {
    background-color: #7bc043;
    background-position: -991px bottom;
    /*-975px*/
}

.youchart-title-lvl_10 {
    background-color: #92cb37;
    background-position: -946px bottom;
}

.youchart-title-lvl_20 {
    background-color: #afdb27;
    background-position: -900px bottom;
}

/*.youchart-title-lvl_2:after {*/
/*left: */
/*}*/
.youchart-title-lvl_30 {
    background-color: #d5ec13;
    background-position: -853px bottom;
}

/*-839px*/

.youchart-title-lvl_40 {
    background-color: #edf108;
    background-position: -805px bottom;
}

/* -794px */

.youchart-title-lvl_50 {
    /*-747px*/
    background-color: #fff100;
    background-position: -759px bottom;
}

.youchart-title-lvl_60 {
    background-color: #ffdd01;
    background-position: -711px bottom;
}

/*-702px*/
.youchart-title-lvl_70 {
    background-color: #ffbd09;
    background-position: -665px bottom;
}

/*-656px*/
.youchart-title-lvl_80 {
    background-color: #fc9813;
    background-position: -618px bottom;
}

/*-612px*/
.youchart-title-lvl_90 {
    background-color: #f16422;
    background-position: -571px bottom;
}

/* -565px*/
.youchart-title-lvl_100 {
    background-color: #e24d07;
    background-position: -521px bottom;
}

/* -519px*/

/* for 11 gradient */

.youchart-name {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    line-height: 120px;
}

.youchart-count {
    font-family: bebas_neuebold, Impact, Arial, sans-serif;
    font-size: 72px;
    font-weight: bold;
    text-transform: none;
    float: right;
    line-height: 116px;
}

.youchart-line {

}

.youchart-line-grad {
    background-image: url(../images/gradient_line.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: auto;
    min-height: 10px;
}
.youchart-line-grad.youchart-line-reverse {
    background-image: url(../images/gradient_line-reverse.png);
}

.youchart-steps {
    overflow: hidden;
}

.youchart-steps-grad {
    padding-top: 14px;
}

.youchart-step {
    float: left;
    text-align: center;
    width: 44px;
    height: 20px;
    box-sizing: border-box;
    color: white;
    /*padding-top: 2px;*/
    font-size: 11px;
    line-height: 20px;
    transition: opacity .1s ease;
}

.youchart-step-grad {
    color: #7f7f7f;
    font-size: 11px;
    width: 47px;
    background-color: transparent !important;
}

.youchart-step-percent_0 {
    margin-left: -18px;
}

.youchart-step-percent_100 {
    margin-right: -20px;
}

/*.youchart-step-grad {*/
/*float: left;*/
/*color: #989898;*/
/*width: 47px;*/
/*height: 20px;*/
/*box-sizing: border-box;*/
/*line-height: 56px;*/
/*transition: opacity .1s ease;*/
/*text-align: center;*/
/*}*/

.youchart-step:hover {
    opacity: .8;
    /*cursor: pointer;*/
}

/* for 11 */
.youchart-step-lvl_0 {
    background-color: #7bc043;
}

.youchart-step-lvl_1 {
    background-color: #92cb37;
}

.youchart-step-lvl_2 {
    background-color: #afdb27;
}

.youchart-step-lvl_3 {
    background-color: #d5ec13;
}

.youchart-step-lvl_4 {
    background-color: #edf108;
}

.youchart-step-lvl_5 {
    background-color: #fff100;
}

.youchart-step-lvl_6 {
    background-color: #ffdd01;
}

.youchart-step-lvl_7 {
    background-color: #ffbd09;
}

.youchart-step-lvl_8 {
    background-color: #fc9813;
}

.youchart-step-lvl_9 {
    background-color: #f16422;
}

.youchart-step-lvl_10 {
    background-color: #e24d07;
}

/* for */

.youchart-bigline {
    display: block;
    width: 100%;
    height: 58px;
    background-repeat: no-repeat;
    background-image: url(../images/horizontal-counted-big.png);
    background-size: contain;
    /*background-color: #ff0000;*/
}





/* YOUCHART YEARS */
.youchart-yearstype {
    padding: 14px 14px 30px 14px;
}
.youchart-yearstype * {
    box-sizing: border-box;

}

.youchart-title-thin {
    height: 57px;
    line-height: 49px;
}
.youchart-inside {

}

.youchart-name {

}
.youchart-name-thin {
    line-height: 49px;
    font-size: 19px;
}

.youchart-count {

}
.youchart-count-thin {
    line-height: 49px;
    font-size: 46px;
}

.youchart-years {
    width: 484px;
    padding: 20px 25px 14px;
    margin-top: -14px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
}

.youchart-verticalgrad {
    width: 40px;
    height: 217px;
    float: left;
    position: relative;
}
.youchart-verticalgrad:after {
    content: '';
    position: absolute;
    top: 0;
    left: 23px;
    width: 10px;
    height: 217px;
    background: url(../images/youchart-verticalgrad.png);
}
.youchart-verticalgrad-reverse:after {
    background: url(../images/youchart-verticalgrad-reverse.png);
}
.youchart-verticalgrad-step:after {
    background: url(../images/youchart-verticalgrad-step.png);
}
.youchart-verticalgrad-step.youchart-verticalgrad-reverse:after {
    background: url(../images/youchart-verticalgrad-step-reverse.png);
}
.youchart-verticalsteps {
    text-align: right;
    width: 14px;
    margin-top: -3px;
    margin-bottom: -5px;
}
.youchart-verticalstep {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f7f7f;
    line-height: 16px;
    margin-bottom: 5px;
}

.youchart-yearslist {
    float: left;
    margin-left: 18px;
}

.youchart-year {
    float: left;
    margin-left: 1px;
}
.youchart-year:hover {
    cursor: pointer;
}

.youchart-yearpos {
    height: 217px;
    width: 24px;
    position: relative;
}

.yochart-yearline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.yochart-yearcount {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f7f7f;
    text-align: center;
}

/* title-thin for different years-position */
.youchart-title-year_01 {background-position: -954px bottom;}
.youchart-title-year_02 {background-position: -929px bottom;}
.youchart-title-year_03 {background-position: -904px bottom;}
.youchart-title-year_04 {background-position: -879px bottom;}
.youchart-title-year_05 {background-position: -854px bottom;}
.youchart-title-year_06 {background-position: -829px bottom;}
.youchart-title-year_07 {background-position: -804px bottom;}
.youchart-title-year_08 {background-position: -779px bottom;}
.youchart-title-year_09 {background-position: -754px bottom;}
.youchart-title-year_10 {background-position: -729px bottom;}
.youchart-title-year_11 {background-position: -704px bottom;}
.youchart-title-year_12 {background-position: -679px bottom;}
.youchart-title-year_13 {background-position: -654px bottom;}
.youchart-title-year_14 {background-position: -629px bottom;}
.youchart-title-year_15 {background-position: -604px bottom;}




/* BIG */
.youchart-inside-big {

}
.youchart-count-inbig {
    float: left;
    font-family: bebas_neuebold, Arial, Helvetica, sans-serif;
    font-size: 106px;
}
.youchart-name-inbig {
    margin-left: 2%;
    width: 160px;
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

.youchart-text {
    float: right;
    line-height: 1.1;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 26px;
}
.youchart-title-big {
    position: relative;
}
.youchart-title-big:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 118px;
    background: #afd95b;
    top: 0;
    right: 660px;
}